/* Fonts
   -- Regular 
*/

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* -- Bold */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


/* Global Styles*/

html {
    box-sizing: border-box;
}

body {
    margin: 0;

	font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: normal;
    
	color: #fff;
}

button {
    font-family: inherit;
}

/* Page Block's */ 

.main-container {
    display: flex;
    flex-direction: column;
}

.img-left-container {
    margin-top: 1.5rem;
}

.img-left-container, .img-right-container {
    display: flex;
    flex-direction: row;
}

.img-right-container {
    flex-direction: row-reverse;
    align-content: center;

    margin-top: 2.5rem;
}

<<<<<<< HEAD
.img-right-container .block-content {
    margin: 0 54% 0 10%;
    padding-top: 1rem;
}

=======
>>>>>>> a150d121f1ba26155613375e75326aa21ccd3067
.img-and-square-left, .img-and-square-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-and-square-right {
    flex-direction: row-reverse;
}

/* Typography */

.block-title {
    padding-top: 5rem;

    font-size: 5rem;
    text-transform: uppercase;
    color: #e7e7e7;
}

.img-right-container .block-title {
    padding-top: 0;
}

.colorless-content {
    font-size: calc( (100vw - 961px)/(1920 - 961) * 4 + 20px);
    font-weight: 500;

    color: #000;
}

/* Numbering Style */

.block-num {
    font-size: 1.125rem;
    font-weight: 800;

    color: #000;
}

.block-num::after {
    content: '';

    display: block;

    width: 1.18rem;
    height: 0.31rem;

    background-color: #5e42b0;
    border-radius: 3px;
}

.block-header > table {
    border-collapse: collapse;
}

/* Color Block's */

.ford-white-block {
    height: 12.7rem;
}

.img-right-container .ford-white-block {
    height: 15rem;
}

.light-grayish-blue-block {
    height: 15.3rem;

    background-color: #f5f4f9;
}

.dark-moderate-violet {
    height: 14.7rem;

    background-color: #5e42b0;
}

.dark-moderate-violet .block-num:after {
    background-color: #fff;
}

.dark-moderate-violet .color-block-content {
    color: #fff;
}

.very-dark-blue-block {
    background-color: #090c35;
}

.very-dark-blue-block .block-num {
    color: #8765dd;
}

.very-dark-blue-block .block-num:after {
    background-color: #fff;
}

.dark-moderate-violet .color-block-content {
    color: #fff;
}

.very-dark-blue-block .color-block-content {
    color: #fff;
}

/* Images Styles */

.white-logo {
    width: 12rem;

    fill: #fff;
}

.bg-img {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

<<<<<<< HEAD
.rugby {
    width: 60%;
    height: 908px;
    margin-top: 9px;
    margin-left: calc( (100vw - 961px)/(1920 - 961) * 96 - 96.5px);

    background-image: url(../images/footballer_566.png);
}

.basketballer {
    height: 815px;
    margin-top: -3.8rem;
    padding-right: calc( (100vw - 961px)/(1920 - 961) * 127);

    background-image: url(../images/basketballer_991.png);
    background-position: left center;
}

=======
>>>>>>> a150d121f1ba26155613375e75326aa21ccd3067
header.bg-img {
    background-image: url(../images/football_1920.jpg);
}

footer.bg-img {
    background-image: url(../images/game_1920.jpg);
}

.athlete-preview {
    z-index: 1;

    width: 55%;

    background-repeat: no-repeat;
    background-position: top center;

    text-align: right;
}

/* Homepage Style */

.page-cover {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 960px;
}

.page-cover::before {
    content: '';

    position: absolute;

    width: 100%;
    height: inherit;

    background-color: rgba(24, 25, 65, 0.93);
}

.homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;

    width: 82%;
    height: inherit;

    text-transform: uppercase;
}

/* Homepage Text */

.homepage-header {
    flex-grow: 1;
}

.home-title, .home-description {
    margin: 0;

    font-size: 5.625rem;
}  

.home-description {
    padding-left: 27%;
}

/* Logotype */

.company-logo {
    flex-grow: 1;

    padding-top: 2.8rem;

    text-align: center;
}

 /* Download Button */

 .download-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

 .link-store-btn {
    position: relative;

    width: 100%;

    text-transform: uppercase;

    color: #fff;
    background-color: #5e42b0;
    border-style: none;
    cursor: pointer;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center; 

    margin: 0 auto;

    text-align: left;
}

.social-logo-btn {
    fill: #fff;

    float: left;
}

.topic-text, .description-text {
    margin: 0;
}

.topic-text {
    font-weight: normal;
}

/* Content Styles */

.block-caption {
    font-weight: 800;

    color: #c1c1c1;
    text-transform: uppercase;
}

.block-content {
    margin: 0px 16% 0 50%;
}

.color-block-content {
    font-weight: 500;

    color: #000;
}

/* Athlets Block */

.athlets-content {
    position: absolute;
    
    width: 100%;
}

/* Blocks With Squares */

.number-in-square {
    font-weight: 800;

    background-color: #5e42b0;
}

.number-in-square::after {
    content: '';

    display: block;

    background-color: #8f7bc8;
}