/* Desctop Screen version
   for max-width devise 1920px
*/

@media (min-width: 961px) and (max-width: 1920px) { 

/* Download Button */

.link-store-btn {
    width: 19.5rem;
    height: 77px;
    margin-right: 3.125rem;

    border-radius: 50px;
}

.link-store-btn:last-child {
    margin-right: 0;
}

.social-logo-btn {
    width: calc( (100vw - 961px)/(1920 - 961) * (56 - 50) + 50px);
    padding-right: 1.75rem;
}

.topic-text, .description-text {
    font-size: 14px;
}

/* Content Styles */

.block-header {
    padding-top: calc( (100vw - 961px)/(1920 - 961) * 29 + 20px);
    padding-bottom: calc( (100vw - 961px)/(1920 - 961) * 13 + 11px);
}

.ford-white-block > .block-header{
    padding-top: 5.18rem;
}

.block-caption {
    padding-left: 0.75rem;

    font-size: 2.25rem;
}

.color-block-content {
    padding-bottom: 2.9rem;

    font-size: 1.25rem;
}

.img-right-container .color-block-content {
    padding-bottom: 3.5rem;
}

/* Block's With Squares */

.athlete-side-pic {
    width: 50%;
    height: 730px;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.runner {
    background-image: url(../images/be-active_1024.jpg);
}

.trainer {
    background-image: url(../images/find-contact_1024.jpg);
}

.club {
    background-image: url(../images/work-it_1024.jpg);
}

.article-number {
    position: absolute;
}

.img-and-square-right .article-number {
    margin-right: -4%;
}

.img-and-square-content {
    width: 50%;
}

.number-in-square {
    padding: 3.75rem 4rem;

    font-size: 1.5rem;
}

.number-in-square::after {
    height: 5px;
    border-radius: 0.2rem;
}

/* Footer Style */

.footer-content {
    display: flex;
    align-items: flex-end;
    z-index: 2;

    margin-top: 11.5%;
}

/* Logo Footer */

.logo-in-square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8.125rem;
    height: 8.5rem;

    background: linear-gradient(45deg, #52389e, #7554d4);
    border-radius: 20%;
}

.company-name {
    z-index: 2;
}

.logo-button {
    fill: #fff;

    width: 6.5rem;
    height: 5.3rem;
}

/* Footer Content */

footer.page-cover {
    justify-content: space-between;
}

.footer-text {
    padding-left: 2.1rem;

    text-transform: uppercase;
}

.footer-title {
    margin: 0;

    font-size: 5rem;
    font-weight: 800;
    
    color: #fff;
}

.footer-description {
    margin: 0;

    font-size: 1.8rem;
    font-weight: 200;

    color: #a496ca;
}

footer .download-buttons, footer .company-logo {
    flex-grow: 0;
}

footer .company-logo {
    z-index: 2;
}

footer .company-logo {
    padding-top: 0;
    padding-bottom: 3.125rem;
}

}