/* Desctop Screen version
   for max-width devise 1920px
*/

@media (min-width: 961px) and (max-width: 1920px) {

/* Page Block's */

header.page-cover {
    height: 960px;
}

.block-content {
    margin: 0px 16% 0 50%;
}

.img-left-container {
    margin-top: 1.5rem;
}

.img-right-container {
    margin-top: 2.5rem;
}

.img-right-container .block-content {
    margin: 0 54% 0 10%;
    padding-top: 1rem;
}

/* Numbering Style */

.block-num {
    font-size: 1.125rem;
}

.block-num::after {
    width: 1.18rem;
    height: 0.31rem;

    border-radius: 3px;
}

/* Color Block's */

.ford-white-block {
    height: 12.7rem;
}

.img-right-container .ford-white-block {
    height: 15rem;
}

.light-grayish-blue-block {
    height: 15.3rem;
}

.dark-moderate-violet {
    height: 14.7rem;
}

/* Typography */

.block-title {
    padding-top: 5rem;
    font-size: 5rem;
}

.img-right-container .block-title {
    padding-top: 0;
}

.img-and-square-content .block-title, .colorless-content {
    margin-left: 2.75rem;
    margin-right: 26%;
}

.colorless-content {
    font-size: 1.5rem;
}

/* Images */

.white-logo {
    width: 12rem;
}

.athlete-preview {
    width: 55%;

    background-repeat: no-repeat;
    background-position: top center;
}

.rugby {
    width: 60%;
    height: 908px;
    margin-top: 9px;
    margin-left: calc( (100vw - 961px)/(1920 - 961) * 96 - 96.5px);

    background-image: url(../images/footballer_566.png);
}

.basketballer {
    height: 815px;
    margin-top: -3.8rem;
    padding-right: calc( (100vw - 961px)/(1920 - 961) * 127);

    background-image: url(../images/basketballer_991.png);
    background-position: left center;
}

/* Logotype */

.company-logo {
    padding-top: 2.8rem;
}

/* Homepage Text */

.homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 82%;
    height: inherit;
}

.homepage-header {
    flex-grow: 1;
}

.home-title, .home-description {
    margin: 0;

    font-size: 5.625rem;
}   

.home-description {
    padding-left: 27%;
}

/* Download Button */

.download-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.link-store-btn {
    width: 19.5rem;
    height: 77px;
    margin-right: 3.125rem;

    border-radius: 50px;
}

.link-store-btn:last-child {
    margin-right: 0;
}

.social-logo-btn {
    width: calc( (100vw - 961px)/(1920 - 961) * (56 - 50) + 50px);
    padding-right: 1.75rem;
}

.topic-text, .description-text {
    font-size: 14px;
}

/* Content Styles */

.block-header {
    padding-top: calc( (100vw - 961px)/(1920 - 961) * 29 + 20px);
    padding-bottom: calc( (100vw - 961px)/(1920 - 961) * 13 + 11px);
}

.ford-white-block > .block-header{
    padding-top: 5.18rem;
}

.block-caption {
    padding-left: 0.75rem;

    font-size: 2.25rem;
}

.color-block-content {
    padding-bottom: 2.9rem;

    font-size: 1.25rem;
}

.img-right-container .color-block-content {
    padding-bottom: 3.5rem;
}

/* Block's With Squares */

.athlete-side-pic {
    width: 50%;
    height: 730px;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.runner {
    background-image: url(../images/be-active_960.jpg);
}

.trainer {
    background-image: url(../images/find-contact_960.jpg);
}

.article-number {
    margin-left: -4%;
}

.img-and-square-right .article-number {
    margin-right: -4%;
}

.number-in-square {
    padding: 3.75rem 4rem;

    font-size: 1.5rem;
}

.number-in-square::after {
    height: 5px;
    border-radius: 0.2rem;
}

}