/* Middle Screen version
   for max-width devise 960px
*/

@media (min-width: 641px) and (max-width: 960px) {

    /* Main Styles */

    .page-margins {
        padding-left: 33px;
        padding-right: 33px;
    }

    /* Homepage */

    .bg-img {
        background-image: url(../images/football_1280.jpg);
    }

    /* Header Logo */

    .logo svg {
        height: 3.5rem;
    }

    /* Top Container */

    .section-home {
        padding-top: 11rem;
        padding-bottom: 5.6rem;
    }

    /* Homepage Text */

    .home-title, .home-description {
        font-size: 4rem;
    }

    .home-title {
        padding-left: 3.625rem;
    }

    .home-description {
        padding-left: 9.66rem;
        padding-bottom: 19rem;
    }

    /* Homepage Button */

    .download-buttons {
        display: flex;
    }

    .link-store-btn {
        height: 77px;
        margin-right: 1.875rem;

        border-radius: 50px;
    }

    .link-store-btn:last-child {
        margin-right: 0;
    }

    .social-logo-btn {
        width: calc( (100vw - 641px)/(960 - 641) * (46 - 41) + 41px);
        padding-right: 1.75rem;
    }

    .topic-text, .description-text {
        font-size: calc( (100vw - 641px)/(960 - 641) * (18 - 14) + 14px);
    }

    /* Page Block's */

    .block-title {
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding-left: 18.31rem;

        font-size: 5rem;
    }

    .athlete-preview {
        position: absolute;
        left: -10rem;

        margin-top: 5.8rem;
    }
    
    .basketballer-block .athlete-preview {
        left: unset;
        right: 0;

        margin-top: 2.3rem;
    }

    .basketballer-block .block-title {
        margin: 0;
        padding: 3rem 33px 2rem;
        width: 50%;
    }

    /* Color Blok's*/

    .ford-white-block, .light-grayish-blue-block, .dark-moderate-violet {
        padding-left: 18.31rem;
    }

    .basketballer-block .ford-white-block, .basketballer-block .light-grayish-blue-block, .basketballer-block .very-dark-blue-block {
        padding-left: 33px;
        padding-right: 43%;
    }

    .basketballer-block .very-dark-blue-block, .light-grayish-blue-block, .dark-moderate-violet {
        padding-top: 2.5rem;
    }

    /* Numbred Block's */

    .block-header {
        padding-bottom: 2rem;
    }

    .block-num {
        padding-right: 0.67rem;

        font-size: 1.125rem;
    }

    .block-num::after {
        width: 1.25rem;
        height: 0.31rem;

        border-radius: 4px;
    }

    .block-caption {
        font-size: 2rem;
    }

    .block-content {
        padding-bottom: 2.37rem;

        font-size: 1.125rem;
    }

    /* Blocks With Square */

    .main-image {
        height: 36.5rem;
    }

    .be-active-container .main-image {
        background-image: url(../images/be-active.jpg);
    }

    .article-number {
        margin-left: 2.06rem;
        margin-top: -5rem;
    }

    .number-in-square {
        padding: 2.625rem;

        font-size: 1.5rem;
    }

    .number-in-square::after {
        width: 1.56rem;
        height: 0.31rem;
    }

    .smaller-block-title {
        margin-top: 3.43rem;
        margin-bottom: 2rem;

        font-size: 5rem;
    }

    .colorless-block .block-content {
        padding-bottom: 6rem;

        font-size: 1.5rem;
    }

    .find-contact-block .main-image {
        background-image: url(../images/find-contact.jpg);
    }

    .work-it-container .main-image {
        background-image: url(../images/work-it.jpg);
    }

    /* Footer Style */

    .footer-bg {
        background-image: url(../images/game_767.jpg);
    }

    .logo-in-square {
        width: 8.125rem;
        height: 8.56rem;
        margin-top: 7.93rem;
        margin-bottom: 5rem;

        border-radius: 2rem;
    }

    .logo-button {
        width: 6.56rem;
        height: 5.375rem;
    }

    .footer-title {
        font-size: 5rem;
    }

    .footer-description {
        padding-bottom: 17rem;

        font-size: 2.25rem;
    }

    footer .logo svg {
        margin-top: 3.43rem;
    }

}
