/* Fonts
   -- Regular 
*/

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* -- Bold */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


/* Global Styles */

html {
    box-sizing: border-box;
}

body {
    margin: 0;

	font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: normal;
    
	color: #fff;
}

button {
    font-family: inherit;
}

/* Mobile version
   for max-width devise 640px
*/

@media (max-width: 640px) {

/* Header Logo */

.white-logo {
    fill: #fff;
}

.header-logo {
    position: relative;
    z-index: 2;

    text-align: center;
}

.logo svg {
    height: 36px;
    width: auto;
    margin-top: 2.5rem;
}

 /* Top Container */

.page-cover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
}

/* Background Cover */

.bg-img {
    background-image: url(../images/football_767.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.page-cover .cover-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.bg-color {
    background-color: rgba(24, 25, 65, 0.93);
}

.page-cover .bg-color {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

/* First Container */

.homepage-content {
    position: relative;

    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.section-home {
    min-height: 90vh;
    padding-top: 8.5rem;
    padding-bottom: 5.25rem;
    box-sizing: border-box;
}

/* Homepage Text */

.home-title, .home-description, .link-store-btn {
    margin: 0;

    text-transform: uppercase;
}

.home-title, .home-description {
    font-size: 1.75rem;
}

.home-title {
    padding-bottom: 1rem;
}

.home-description {
    padding-left: 2.75rem;
    padding-bottom: 5.56rem;
}

/* Homepage Button */

.link-store-btn {
    position: relative;

    width: 100%;
    height: 36px;
    margin-bottom: 14px;

    text-transform: uppercase;

    color: #fff;
    background-color: #5e42b0;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
}

.link-store-btn:last-child {
    margin-bottom: 0;
}

.button-content {
    display: flex;
    align-items: center;
    
    margin-left: 28%;    

    text-align: left;
}

.topic-text, .description-text {
    margin: 0;
    
    font-size: calc( (100vw - 320px)/(640 - 320) * (12 - 8) + 8px);
}

.topic-text {
    font-weight: normal;
}

.social-logo-btn {
    fill: #fff;

    float: left;

    width: calc( (100vw - 320px)/(640 - 320) * (28 - 24) + 24px);
    padding-right: 10px;
}

/* Athlets Block */

.athlets-container {
    position: relative;

    background-color: #fff;
}

.athlets-title {
    margin-top: 1.56rem;
    margin-bottom: 19px;

    font-size: 50px;
    
    text-transform: uppercase;
    color: #e7e7e7;
}

}