/* Fonts */

/* Regular */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Bold */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


/* Global Styles*/

html {
    box-sizing: border-box;
    display: block;
}

body {
    margin: 0;

	font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: normal;
    
	color: #fff
}

/* Top container */

.container {
    position: absolute;
    margin: 0 20px;
}

.top_container {
    position: fixed;

    width: 100vw;
    height: 100%;

    color: #12124a;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.top_container::before {
    content: "";

    position: absolute;

    width: 100vw;
    height: 100%;

    background-color: #12124a;
    opacity: 0.93;
}

.header_logo {
    position: relative;

    margin: 0 auto;

    text-align: center;
}

.logo_icon {
    width: 40%;
    margin-top: 5vh;

    fill: #fff;
}

.header_title {
    color: #fff;
    text-transform: uppercase;
}

.header_description {
    margin-left: 44px;
    color: #fff;
    text-transform: uppercase;
}


@media (max-width: 640px) {

    .top_container {
        background-image: url("../images/football_767.jpg");
        background-size: 140%;
    }

    .header-title {
        margin-top: 133px;

        font-size: 28px;
    }
    
}